* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  body{
    background-color: blanchedalmond;
  }

  header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
  }