div {
    width: fit-content;
    height: fit-content;
    background-color: blue;
    /*transform: rotate(-20deg);*/
    /*transform: scale(1.5);*/
    /*transform: scale(1.5, 2);*/
    /*transform: translate(25px, 40px);*/
    transform: skew(45deg);

}