.container{
    display: flex;
    /*flex-direction: column;*/
    /*flex-direction: row;*/ /* Este es por defecto */
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    /*justify-content: space-evenly;*/
    /*align-items: flex-start;*/ /* Este es por defecto */
    /*align-items: flex-end;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    gap: 1em;*/ /* Espacio entre los Box */

}

.box{
    width: 60px;
    height: 60px;
    background-color: blue;
}