main{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
    justify-content: center; /*start end space-between space-around space-evenly */
}

div{
    background-color: orange;
}